#desktopPage {
    background-color: #004E98;
    width:100%;
    height: 100%;

    > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        max-width: 100lvw;
        max-height: 100lvh;
    }
}
#taskBar {
    background: rgb(25,65,165);
    background: linear-gradient(0deg, rgba(25,65,165,1) 0%, rgba(38,99,224,1) 10%, rgba(34,87,213,1) 80%, rgba(73,147,230,1) 100%);
    color: white;
    display: grid;
    grid-template-columns: auto 11vmin 1fr 11vmin;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vmin;
    z-index: 1;
    img {
        width: 3vmin;
        height: 3vmin;
    }
    p {
        font-size: 1.5vmin;
    }
}
#startButton {
    background: rgb(33,98,34);
    background: linear-gradient(343deg, rgba(33,98,34,1) 9%, rgba(61,153,61,1) 74%, rgba(150,196,150,1) 100%);
    -webkit-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.75) inset;
    box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.75) inset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 15vmin;
    height: 100%;
    > img {
        padding-left: 1.5vmin;
        width: 3vmin;
        height: 3vmin;
    }
    > span {
        font-size: 2vmin;
    }
}

#taskBarTime {
    -webkit-box-shadow: 3px 0px 0px -1px rgba(28,200,247,1) inset;
    -moz-box-shadow: 3px 0px 0px -1px rgba(28,200,247,1) inset;
    box-shadow: 3px 0px 0px -1px rgba(28,200,247,1) inset;
    background: rgb(13,146,236);
    background: linear-gradient(315deg, rgba(13,146,236,1) 0%, rgba(19,152,237,1) 100%);
    border-bottom: 1px solid #095BC9;
    border-top: 3px solid #1CC8F7;
    border-left: 1px solid black;
    align-items: center;
    justify-items: center;
    height:100%;
    width:11vmin;
    grid-column: 5;
    > span {
        font-size: 1vmin;
    }
}

.window:has(.toolbar) {
    .toolbar {
        grid-row: 3;
        grid-column: 2;
    }
    .windowContent {
        grid-row: 4;
        grid-column: 2;
    }
}
.window {
    display: grid;
    grid-template:2px auto auto auto 2px/ 2px auto 2px;

    position: absolute;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid #004E98;
    border-left: 1px solid #004E98;
    border-right: 1px solid #00138C;
    border-bottom: 1px solid #00138C;
    header {
        grid-row: 2;
        grid-column: 2;
        background: rgb(3,104,250);
        background: linear-gradient(0deg, rgba(3,104,250) 30%, rgba(0,85,229) 100%);
        color: white;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        img {
            width: 2vmin;
            height: 2vmin;
        }
        svg {
            width: 2vmin;
            height: 2vmin;
            border-radius: 2px;
            border: 1px solid white;
        }
        cursor:grab;
    }
    header:active {
        cursor:grabbing;
    }
    .windowContent {
        grid-row: 3/5;
        grid-column: 2;
        background-color: white;
        color: black;
        border: 1px solid #004E98;
        border-radius: 2px;
        padding: 1vmin;
        overflow: auto;
    }
    .windowUp {
        background-color: #3D95FF;
        grid-row: 1;
        grid-column: 2;
        height: 2px;
    }
    .windowUp:has(.resizer):hover {
        cursor: n-resize;
    }
    .windowDown {
        background-color: #001EA0;
        grid-row: 5;
        grid-column: 2;
        height: 2px;
    }
    
    .windowDown:has(.resizer):hover {
        cursor: s-resize;
    }
    .windowLeft {
        grid-row: 2/5;
        grid-column: 1;
        width: 2px;
        background-color: #3D95FF;
    }
    
    .windowLeft:has(.resizer):hover {
        cursor: w-resize;
    }
    .windowRight {
        background: rgb(0,30,160);
        background: linear-gradient(180deg, rgba(0,30,160,1) 0%, rgba(0,38,172,1) 100%);
        grid-row: 2/5;
        grid-column: 3;
        width: 2px;
    }
    
    .windowRight:has(.resizer):hover {
        cursor: e-resize;
    }
}
#loginWindow {
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .toolbar {
        display: grid;
        grid-template:1fr 5px/ 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        background-color: #004E98;
        color: white;
        border-bottom: 1px solid #004E98;
        > img {
            width: 2vmin;
            height: 2vmin;
        }
        > p {
            font-size: 1.5vmin;
        }
    }
     .windowContent {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    background-color: #EFEBDE;
    }
}
#loginFormContainer {
    input {
        border: 1px solid #7B9EBD;
    }
}

.selected {
    border: 1px dashed grey
}

#desktopIcons {
    position:absolute;
    z-index: 1;
    padding:2vmin;
    width: -moz-fit-content;
    width: fit-content;
}
#desktopIcons > div {
    display: grid;
    grid-template: 1fr 1fr/ 1fr;
    align-items: center;
    justify-items: center;
    > img {
        width: 5vmin;
        height: 5vmin;
    }
    > span {
        font-size: 1.5vmin;
        color:white
    }
}
#taskBarIcons {
    padding-left: 1vmin;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    > img {
        width: 2vmin;
        height: 2vmin;
    }
}
#startMenu {
    position: absolute;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    bottom:3vmin;
    background-color: #004E98;
    >div:first-child, div:last-child {
        grid-column: 1/3;
        color:white;
    }

}