* {
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    border: 0
}

body {
    width: 100lvw;
    height: 100lvh
}

.hidden {
    display: none !important;
}