#mediaCenter {
    background-color: #0078d7;
    color: white;
    .windowContent {
      padding: 0;
      overflow: hidden;
      background-color: black;
      height: 100%;
      iframe{
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }