#commandPrompt {
    .windowContent {
        user-select: text;
        background-color: #000;
        color: #fff;
        font-family: monospace;
        padding: 0.5vmin;
        
        p{
            height: 1.3vmin;
            font-size: 1.2vmin;
        }
        p:nth-last-child(2), p:nth-last-child(1) {
            display:inline-block
        }
    }
}